// https://www.materialui.co/colors
$red: $red-500;
$pink: $pink-500;
$purple: $purple-500;
$deep-purple: $deep-purple-500;
$indigo: $indigo-500;
$blue: $blue-500;
$light-blue: $light-blue-500;
$cyan: $cyan-500;
$teal: $teal-500;
$green: $green-500;
$light-green: $light-green-500;
$lime: $lime-500;
$yellow: $yellow-500;
$amber: $amber-500;
$orange: $orange-500;
$deep-orange: $deep-orange-500;
$brown: $brown-500;
$gray: $gray-500;
$blue-gray: $blue-gray-500;
