/* transparent blacks */
$trans-black-100: hsla(0, 0%, 0%, 0.1);
$trans-black-200: hsla(0, 0%, 0%, 0.25);
$trans-black-300: hsla(0, 0%, 0%, 0.5);
$trans-black-400: hsla(0, 0%, 0%, 0.75);
$trans-black-500: hsla(0, 0%, 0%, 0.9);
/* transparent whites */
$trans-white-100: hsla(0, 0%, 100%, 0.1);
$trans-white-200: hsla(0, 0%, 100%, 0.25);
$trans-white-300: hsla(0, 0%, 100%, 0.5);
$trans-white-400: hsla(0, 0%, 100%, 0.75);
$trans-white-500: hsla(0, 0%, 100%, 1);
