// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font             :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-head        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-subhead     :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-copy        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

// ############################

body {
  font-family: $font;
  font-size: $base-font-size;
  background: #333;
  @apply m-0;
}
