// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font             :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-head        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-subhead     :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-copy        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

// ############################

body {
  @apply m-0 bg-base-grey text-[1rem] font-groovyCopy;
}
