// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font             :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-head        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-subhead     :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font-copy        :"Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

// ############################

body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background: #333;
  margin: 0;
}
