@font-face {
  font-family: "CenturyModern-Light";
  src: url('CenturyModern-Light.otf') format('opentype');
}

@font-face {
  font-family: "CenturyModern-LightItalic";
  src: url('CenturyModern-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: "CenturyModern-Book";
  src: url('CenturyModern-Book.otf') format('opentype');
}

@font-face {
  font-family: "CenturyModern-Italic";
  src: url('CenturyModern-Italic.otf') format('opentype');
}