// FONTS
$base-font-size   :0.85em;
$base-line-height :2em;
$font             :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-head        :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-subhead     :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-copy        :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;

// ############################

html, html a {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  @apply antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: $base-font-size;
}

html, body {
  font-family: Spartan, "Helvetica Neue", Helvetica, sans-serif;
  font-size: $base-font-size;
}

// html {
  // // background: rgb(20, 20, 20) !important;
  // @apply bg-[hsl(320,100%,9%)];
  // background: url(/img/bg/bg_bak_dk4.jpeg) no-repeat center center fixed;
  // -webkit-@apply bg-cover;
  // -moz-@apply bg-cover;
  // -o-@apply bg-cover;
  // @apply bg-cover;
// }
