// FONTS
$base-font-size   :0.85em;
$base-line-height :2em;
$font             :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-head        :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-subhead     :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;
$font-copy        :Spartan, "Helvetica Neue", Helvetica, sans-serif !important;

// ############################
