// COLORS

$ruby: #d71d5b;
$yellow-red: #ffc05c;
$black-coffee: #352e38;
//~~~~~~~
$grey:       $black-coffee;
$backer:     $grey;
$accent:     $yellow-red;
$accent-red: $ruby;
// $ivory:      hsl(49, 100%, 98%);
// $orange:     hsl(303, 76%, 55%);
// $paleyellow: hsla(22, 100%, 50%, 0.6);
$white:      white;
$black:     black;

// link colors (normal, hover, active, visited, focus)
// a {
//   @include link-colors($blue-dark, // normal
//     $accent, // hover
//     $blue-mid, // active
//     $grey, // visited
//     $blue-dark // focus
//   );
// }
