// See vue.config for auto import
// @import 'tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

// SETTINGS
@import '../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
@import '_drewShake';
@import 'transitions';

* {
  @apply box-border;
}

html,
html a {
  //
}

body {
  @apply m-0;
}

img,
video,
audio {
  @apply max-w-full h-auto;
}

// BREAKPOINTS
$breakThou: 1024px;
$breakOne: 840px;
$breakTwo: 630px;
$breakThree: 430px;
$breakFour: 320px;
$breakMinMax: 630px 760px;

::selection {
  @apply text-black bg-[#fbd404];
}

::-webkit-scrollbar {
  @apply h-3 w-3 overflow-x-hidden overflow-y-hidden;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-gradient-to-b from-[hsla(0,0%,79%,0.226)] to-[hsla(0,0%,79%,0.514)];
}

::-webkit-scrollbar-track {
  @apply rounded-none bg-[hsla(0,0%,100%,0)] ;
}
