// See vue.config for auto import

// @import 'tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

// SETTINGS
@import '../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
@import '_colors';
@import '_drewShake';
@import 'transitions';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

html,
html a {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  // color: #222;
  font-size: 1em;
  // line-height: 1.4;
}

// BREAKPOINTS
$breakThou: 1024px;
$breakOne: 840px;
$breakTwo: 630px;
$breakThree: 430px;
$breakFour: 320px;

$breakMinMax: 630px 760px;
