@import 'dh-normalize.scss';
// @import 'dh-breakpoints.scss';
@import 'dh-font-smoothing.scss';
@import 'dh-colors-root.scss';
@import 'dh-colors-basics.scss';
@import 'dh-flex-grid.scss';
@import 'dh-mortar.scss';
// @import 'dh-truncate.scss';
// @import 'dh-zIndex.scss';
// @import 'dh-linked-colors.scss';
// @import 'dh-font-styles.scss';
@import 'dh-shadows.scss';
//@import 'dh-font-weight.scss';
// @import 'dh-panels.scss';
// @import 'dh-forms.scss';
// @import 'dh-buttons.scss';
@import 'dh-widths-heights.scss';
// @import 'dh-hide-show.scss';
@import 'dh-scrollbar.scss';
@import 'dh-text.scss';
// @import 'dh-typography.scss';
/* @import 'dh-xOut.scss'; */
@import 'dh-clearfix.scss';

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

.redline {
  border: 1px solid rgb(255, 70, 70);
  background: pink;
}

.blueline {
  border: 1px solid rgb(59, 59, 255);
  background: rgb(35, 255, 255);
}

::selection {
  color: #000;
  background: #fbd404;
}
