@mixin clearfix {
  &:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }
}

.clearfix {
  //
  &:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }
}
