.fs-small {
  font-size: small;
}

.fs-smaller {
  font-size: smaller;
}

.fs-x-small {
  font-size: x-small;
}

.fs-xx-small {
  font-size: xx-small;
}

.fs-large {
  font-size: large;
}

.fs-larger {
  font-size: larger;
}

.fs-x-large {
  font-size: x-large;
}

.fs-xx-large {
  font-size: xx-large;
}

.fw-normal {
  font-weight: normal;
}

.fw-regular {
  font-weight: regular;
}

.fw-bold {
  font-weight: bold;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
