.flex { display: flex; } // .display-flex
.flex-inline { display: inline-flex; } // .display-inline-flex
.flex-none { flex: none; }

.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.flex-auto { flex: 1 1 auto; }
.flex-1 { flex: 1 1 0%; }

.flex-no-shrink, .flex-shrink-0 { flex-shrink: 0; }
.flex-shrink, .flex-shrink-1 { flex-shrink: 1; }

.flex-no-grow, .flex-grow-0 { flex-grow: 0; }
.flex-grow, .flex-grow-1 { flex-grow: 1; }

.flex-first { order: -1; }
.flex-last { order: 99; }

// align-items
.align-items-flex-start { align-items: flex-start !important; }
.align-items-flex-end { align-items: flex-end !important; }
.align-items-flex-center { align-items: center !important; }
.align-items-flex-baseline { align-items: baseline !important; }
.align-items-flex-stretch { align-items: stretch !important; }

// align-content
.align-content-start { align-content: flex-start !important; }
.align-content-end { align-content: flex-end !important; }
.align-content-center { align-content: center !important; }
.align-content-space-between { align-content: space-between !important; }
.align-content-space-around { align-content: space-around !important; }
.align-content-stretch { align-content: stretch !important; }

// justify-content
.just-content-flex-start { justify-content: flex-start !important; }
.just-content-center { justify-content: center !important; }
.just-content-flex-end { justify-content: flex-end !important; }
.just-content-space-between { justify-content: space-between !important; }
.just-content-space-around { justify-content: space-around !important; }
.just-content-space-evenly { justify-content: space-evenly !important; }

// align-self
.align-self-flex-start { align-self: flex-start !important; }
.align-self-flex-end { align-self: flex-end !important; }
.align-self-flex-center { align-self: center !important; }
.align-self-flex-baseline { align-self: baseline !important; }
.align-self-flex-stretch { align-self: stretch !important; }

.flex-center {
  align-items: center;
  justify-content: center !important;
}

//
.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}

.flex-row-wrap-rev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse !important;
}

.flex-column-nowrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap !important;
}

.flex-column-wrap-rev {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse !important;
}

//
.flex-basis-10 { flex-basis: 10% !important; }
.flex-basis-20 { flex-basis: 20% !important; }
.flex-basis-30 { flex-basis: 30% !important; }
.flex-basis-40 { flex-basis: 40% !important; }
.flex-basis-45 { flex-basis: 45% !important; }
.flex-basis-50 { flex-basis: 50% !important; }
.flex-basis-55 { flex-basis: 55% !important; }
.flex-basis-60 { flex-basis: 60% !important; }
.flex-basis-70 { flex-basis: 70% !important; }
.flex-basis-80 { flex-basis: 80% !important; }
.flex-basis-90 { flex-basis: 90% !important; }
.flex-basis-95 { flex-basis: 95% !important; }
.flex-basis-100 { flex-basis: 100% !important; }
