.gap0 { gap: 0rem !important; }
.gap1Q { gap: .25rem !important; }
.gapH { gap: .5rem !important; }
.gap3Q { gap: .75rem !important; }
.gap1 { gap: 1rem !important; }
.gap1H { gap: 1.5rem !important; }
.gap2 { gap: 2rem !important; }
.gap3 { gap: 3rem !important; }
.gap4 { gap: 4rem !important; }
.gap5 { gap: 5rem !important; }

.gapX0 { grid-column-gap: 0rem !important; }
.gapXQ { grid-column-gap: .25rem !important; }
.gapXH { grid-column-gap: .5rem !important; }
.gapX3Q { grid-column-gap: .75rem !important; }
.gapX1 { grid-column-gap: 1rem !important; }
.gapX1H { grid-column-gap: 1.5rem !important; }
.gapX2 { grid-column-gap: 2rem !important; }
.gapX3 { grid-column-gap: 3rem !important; }
.gapX4 { grid-column-gap: 4rem !important; }
.gapX5 { grid-column-gap: 5rem !important; }

.gapY0 { grid-row-gap: 0rem !important; }
.gapYQ { grid-row-gap: .25rem !important; }
.gapYH { grid-row-gap: .5rem !important; }
.gapY3Q { grid-row-gap: .75rem !important; }
.gapY1 { grid-row-gap: 1rem !important; }
.gapY1H { grid-row-gap: 1.5rem !important; }
.gapY2 { grid-row-gap: 2rem !important; }
.gapY3 { grid-row-gap: 3rem !important; }
.gapY4 { grid-row-gap: 4rem !important; }
.gapY5 { grid-row-gap: 5rem !important; }
