// @import "~assets/css/_base.scss";
@mixin shadow {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 1), 0 3px 5px rgba(0, 0, 0, 0);
}

@mixin no-shadow {
  text-shadow: 0px 0px 0px !important;
  filter: none !important;
}

//  @include box-shadow(0px, 0px, 0px, 0px, hsla(0, 0%, 0%, 0.5), false);
@mixin box-shadow($offsetX, $offsetY, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $offsetX $offsetY $blur $spread $color;
    -moz-box-shadow: inset $offsetX $offsetY $blur $spread $color;
    box-shadow: inset $offsetX $offsetY $blur $spread $color;
  } @else {
    -webkit-box-shadow: $offsetX $offsetY $blur $spread $color;
    -moz-box-shadow: $offsetX $offsetY $blur $spread $color;
    box-shadow: $offsetX $offsetY $blur $spread $color;
  }
}
