// FONTS
$font: 'Bodoni Moda', Times, serif !important;
$font-caps: 'Bodoni Moda', Times, serif !important;
$font-head: 'Bodoni Moda', Times, serif !important;
$font-subhead: 'Bodoni Moda', Times, serif !important;
$font-copy: 'Bodoni Moda', Times, serif !important;

// ############################

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background: #e2e0f1;
  margin: 0;
}
