// FONTS
$base-font-size   :1rem;
$base-line-height :1.5em;
$font-light       :Questrial, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
$font             :'Bodoni Moda', Times, serif !important;
$font-caps        :'Bodoni Moda', Times, serif !important;
$font-head        :'Bodoni Moda', Times, serif !important;
$font-subhead     :'Bodoni Moda', Times, serif !important;
$font-copy        :'Bodoni Moda', Times, serif !important;

// ############################

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background: #e2e0f1;
  @apply m-0;
}
