// COLORS
$grey:       #333;
$blue-dark:  #01487F;
$black:      #012946;
$blue-mid:   #5b7d96;
$blue-light: #8fa9c2;
// $accent:     #ecb469;
$accent:     #ffa500;
$ivory:      #fffdf4;
$orange:     #e34234;
$paleyellow: #ffffbf99;
$accent-red: #C02C19;
$white:      #fffdf4;
