// FONTS
$base-font-size   :1rem;
$base-line-height :1.7em;
$font             :'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
$font-head        :'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
$font-subhead     :'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
$font-copy        :'Dosis', 'Helvetica Neue', Arial, sans-serif !important;

// ############################

body {
  font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 1rem;
  background: #333;
  @apply m-0;
}
