@font-face {
  font-family: 'texgyre-regular';
  src: url('./texgyre-regular.woff') format('woff');
  @apply font-normal;
  @apply not-italic;
}

@font-face {
  font-family: 'texgyre-italic';
  src: url('./texgyre-italic.woff') format('woff');
  @apply font-normal;
  @apply not-italic;
}

@font-face {
  font-family: 'texgyre-bold';
  src: url('./texgyre-bold.woff') format('woff');
  @apply font-normal;
  @apply not-italic;
}

@font-face {
  font-family: 'texgyre-bolditalic';
  src: url('./texgyre-bolditalic.woff') format('woff');
  @apply font-normal;
  font-style: italic;
}
